{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-empty-interface": 0,
    "no-unused-vars": "warn",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-empty": "error",
    "space-in-parens": "error",
    "spaced-comment": "error",
    "space-unary-ops": "error",
    "space-infix-ops": "error",
    "arrow-parens": "error",
    "prefer-const": "error",
    "quotes": ["error", "double"],
    "semi-style": ["error", "last"],
    "semi": ["error", "always"],
    "keyword-spacing": ["error", { "before": true,  "after": true }],
    "camelcase": 0,
    "@typescript-eslint/no-inferrable-types": 0,
    "no-mixed-spaces-and-tabs": "error",
    "no-trailing-spaces": ["error", { "skipBlankLines": false }],
    "@typescript-eslint/no-var-requires": 0,
    "no-async-promise-executor": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-namespace": 0,
    "no-useless-escape": 0,
    "max-len": [
      "warn",
      {
        "code": 100,
        "tabWidth": 2,
        "comments": 100,
        "ignoreComments": false,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ]
  }
}